.labels {
  display: flex;
  flex-direction: column;
  width: 100%;


}

.componentImage {
  width: 80vw;
}

.caroussel-images {
  display: flex;
  align-items: center;
}

.project-arrow {
  max-width: 40px;
  max-height: 40px;
}

.project-arrow:hover {
  cursor: pointer;
}

.code-img {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
  margin-bottom: 5px;
  cursor: pointer;
}

.class-label {
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'code';
  padding: 5px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: all ease-in 0.5s;
}



.class-label:hover {
  background-color: #383737;
  color: rgb(86, 156, 214);
}

.class-label-ative {
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'code';
  padding: 5px 0px;
  cursor: pointer;
  background-color: #383737;
  color: rgb(86, 156, 214);
  margin-bottom: 0px;
}

.class-label-backgorund {
  width: 90vw;
  cursor: pointer;
  background-color: #535151;
}

.center-title {
  font-family: 'ibm';
  font-size: 13px;
  
}

.active-item {
  color: #000000;
  font-weight: bold;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  background-color: #3a3a3a;
  position: relative;

  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #aaa #fff;
  /* For Firefox */
}

.lightbox-content::-webkit-scrollbar {
  width: 8px;
}

.lightbox-content::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.lightbox-content::-webkit-scrollbar-track {
  background-color: #fff;
}

.lightbox-image {
  max-width: 80vw;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  z-index: 1;
}




.method-table {
  width: 90%;
  background-color: #535151;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.method-table h2 {
  font-family: 'IBM';

}

table {
  border-collapse: collapse;
  font-family: 'code';
  text-align: center;
  max-width: 80vw;
  margin-bottom: 20px;
  background-color: #333;
  color: #fff;
}


th {
  background-color: #444;
  color: #000000;
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #252525;
  border-right: 1px solid #252525;
}


td {
  padding: 8px;
  border-bottom: 1px solid #252525;
  border-right: 1px solid #252525
}


tr:nth-child(even) {
  background-color: #444;
}

tr:hover {
  background-color: #555;
}

@media only screen and (max-width: 800px) {

  .center-title {
    margin-top: 10px;
    font-size: 12px;
  }

  .labels label {
    font-size: 15px;
  }


  .method-table h2 {
    font-size: 13px;
  }

  .code-img {
    width: 60vw;
    height: 50vh;
  }

  .project-arrow {
    max-width: 15px;
    max-height: 15px;
  }

  th {
    font-size: 5px;
  }

  td {
    overflow: scroll;
    font-size: 5px;
    max-width: 40vw;
  }

  .lightbox-content::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }


  .lightbox-image {

    max-width: 105vh;
  }


}