.page1{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200vw;
    overflow: hidden;
    padding-bottom: 10px;
}

.page1-title {
    font-family: 'exo';
    margin-left: 20px;
    margin-right: 20px;
}

.project-type{
    display: flex;
    align-items: center;

}

.arrow-img{
    max-width: 5vw;
    max-height: 6vh;
    cursor: pointer;
}


.projects-image{
    border: 2px solid grey;
    border-radius: 4px;
    max-width: 70vw;
}

.projects-informations{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-informations h3{
    margin-top: 0px;
    max-width: 70%;
    font-size: 15px;
}

.project-button{
    max-width: 15vw;
    padding: 10px 20px;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.project-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.project-button:focus {
    outline: none;
    
}
.div-projects-images{
    display: flex;
    justify-content: center;
    align-items: center;
}