.page-about-me{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.page-about-me-cover-letter{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page-about-me-cover-letter h1{
    font-family: 'IBM';
    margin-bottom: 0px;
    
}
.page-about-me-cover-letter p{
    width: 90%;
    font-size: 15px;
    font-family: 'IBM';
}

.photo{
    margin-left: 25px;
    border-radius: 10px;
    max-width: 450px;
}

.informations{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-self: start;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.informations-skills{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills{
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
   
}   
/*.code-small {
    font-family: 'IBM';
    font-weight: lighter;
    font-size: 20px;
}
*/
.code{
    font-family: 'IBM';
    font-weight: lighter;
    
}
.icons {
 
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    
    
}

.row {
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 5vh;
    
    
}


.program-icon {
    
    margin-right: -20px;
    max-width: 90px;
    
    
}

.program-icon:hover {
    cursor: pointer;
}

.program-icon:last-child{
    margin-right: 0px;
}


.popup {
  display: flex;
  justify-content: center;
  
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  z-index: 1; 
  
  width: 450px;
  height: 450px;
}

.popup ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'IBM';
    font-weight: normal;
}

.popup li {
    
    font-size: 18px;
    margin-bottom: 10px;
    list-style: none;
    font-family: 'IBM';
}

.skill-title {
    display: flex;
   
    justify-content: center;
    text-transform: capitalize;
}

.skill-title p {
    margin-bottom: 0px;
}
.cursorPointer:hover{
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .page-about-me{  
        /*new*/
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
    }
    .informations{
        margin-left: 5vw;
        margin-top: 0px;
    }

    .skills{
        width: 35vw;
        margin-bottom: 0vw;
    }
    .code {
        font-size: larger;
    }
    .program-icon {
        margin-right: 20px;
        max-width: 10vw;
    }
    .popup {
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 8px;
        border-radius: 5px;
        z-index: 1; 
        pointer-events: none; 
        font-size: small;
        top: 110vh;
        left: 55vw;
        width: 30vw;
    }
    
  }