@font-face {
  font-family: 'ysabeauSC';
  src: url('assets/fonts/Ysabeau_SC/YsabeauSC-Black.ttf');
}

@font-face {
  font-family: 'lato';
  src: url('assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: 'sourceSans';
  src: url('assets/fonts/Source_Sans_3/SourceSans3-Bold.ttf');
}

@font-face {
  font-family: 'code';
  src: url('assets/fonts/Fira_Code/FiraCode-Regular.ttf')
}
@font-face {
  font-family: 'IBM';
  src: url('assets/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf');
}
@font-face {
  font-family: 'exo';
  src: url('assets/fonts/Exo/Exo-Regular.ttf');
}

body{
  margin: 0px;
  background-color: #222222;
  color: #ffffff;
}

.no-scroll{
  overflow: hidden;
}

body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; 
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}


