.contact-page{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60vh;
}

.contact-page h1 {
    font-family: 'IBM';
    font-weight: normal;
}

.squares{
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 30vh;
    background-color: rgb(71, 67, 67);
    margin: 20px;
    border-radius: 10px;
    transition: width 0.3s ease, height 0.3s ease;
}

.square-icon:hover {
    cursor: pointer;
    width: 18vw;
    height: 35vh;

}

.square-icon img {
    max-width: 35%;
    
}

.square-icon p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: smaller;
    font-family: 'lato';
    color: black;
}


.square-title{
    font-size: 130%;
    margin-top: 10%;
    font-family: 'sourceSans';
    font-weight: bolder;
    color: black;
    
}




@media only screen and (max-width: 600px) {

    .squares {
       flex-wrap: wrap;
    }
    .square-icon {
        width: 26vw;
        margin: 5px;
        height: 18vh;
    }
    
    .square-icon:hover {
        cursor: pointer;
        width: 30vw;
        height: 18vh;
    }
    
    .square-icon p {
        display: none;
    }
    .square-title{
        font-size: 80%;
        margin-top: 10%;
        font-family: 'sourceSans';
        font-weight: bolder;
        color: black;
        
    }

  }